.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1.25rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    margin: 2.5rem 0 3rem;
    flex: 1;
}
