:root {
  --light-font: 'NotoSans-Light';
  --regular-font: 'NotoSans-Regular';
  --medium-font: 'NotoSans-Medium';
  --semibold-font: 'NotoSans-SemiBold';
  --black: #1a1a1d;
  --charcoal: #222225;
  --minorwhite: #f6f6f6c1;
  --mainwhite : #fefefe;
}

body,
html,
#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  caret-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--regular-font);
}

@media (min-width:320px)  {
  body,
  html,
  #app {
    font-size: 15px;
    font-family: var(--medium-font);
  }
}

@media (min-width:960px)  {
  body,
  html,
  #app {
    font-size: 17px;
  }
}

@media (min-width:1281px) {
  body,
  html,
  #app {
    font-size: 18px;
  }
}

@font-face {
  font-family: 'NotoSans-Light';
  src: local('NotoSans-Light'), url('./Fonts/NotoSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: local('NotoSans-Regular'), url('./Fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans-Medium';
  src: local('NotoSans-Medium'), url('./Fonts/NotoSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans-SemiBold';
  src: local('NotoSans-SemiBold'), url('./Fonts/NotoSans-SemiBold.ttf') format('truetype');
}