.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    text-align: center;
}

.title {
    text-align: center;
  }

  .body {
    text-align: center;
  }
