.container {
    margin-top: 64px;
    display: flex; /* Using flexbox layout */
    flex-direction: column; /* Stack components vertically */
    align-items: center; /* Vertically center content */
    height: 100vh;
  }
  