.container {
    display: flex; /* Using flexbox layout */
    flex-direction: column; /* Stack components vertically */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
  }
  

.section {
    
}