.header {
    height: 72px;
    display: grid;
    position: sticky;
    padding: 0 64px;
}

@media (min-width: 320px) and (max-width: 480px) {
    /* Mobile (Portrait) */
    .header {
        grid-template-columns: 45% 1fr 45%;
    }
}
  
  @media (min-width: 481px) and (max-width: 768px) {
    /* Mobile (Landscape) & Tablets */
    .header {
        grid-template-columns: 40% 1fr 40%;
    }
}
  
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Tablets & Small Desktops */
    .header {
        grid-template-columns: 25% 1fr 25%;
    }
}
  
@media (min-width: 1025px) and (max-width: 1200px) {
    /* Large Desktops */
    .header {
        grid-template-columns: 20% 1fr 20%;
    }
}
  
@media(min-width: 1201px) {
    .header {
        grid-template-columns: 20% 1fr 20%;
    }
}

.text {
    color: inherit;
    margin: 0;
    padding: 0;
}

.figure, .name {
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.figure {
    width: 2.5em;
}

.name {
    font-size: var(--regular-font-size);
    text-align: left;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.leftContainer {
    display: flex;
    font-family: var(--semibold-font);
<<<<<<< HEAD

=======
>>>>>>> main
}

.leftContainer > p {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
}

.directory {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-left: auto;
    column-gap: 32px;
    font-family: var(--semibold-font);
<<<<<<< HEAD
    font-size: var(--regular-font-size);
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
=======
>>>>>>> main
}

.icon {
    width: auto;
    height: 24px;
}

<<<<<<< HEAD
=======
.themeButton, .homeButton {
    background: none;
    color: inherit;
    border: none;
    padding-right: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.themeButton {
    margin-left: auto;
}

>>>>>>> main
.directory > a {
    text-decoration: underline;
}

.darkNav {
    background-color: var(--black);
    color: var(--minorwhite);
    border-bottom: 4px solid var(--charcoal);
}

.lightNav {
    background-color: var(--mainwhite);
    color: var(--black);
    border-bottom: 4px solid var(--minorwhite);
}

.lightIcon {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}


.icon:hover, .redirect:hover {
    cursor: pointer;
}

@media (min-width:320px)  {
    .header {
        grid-template-columns: 50% 0% 50%
    }

    .leftContainer, .directory {
        font-size: 1em;
    }

    .leftContainer {
        padding-left: 1em;
    }

    .redirect {
        padding-right: 1em;
    }

    .themeButton {
        padding-right: 2em;
    }
}

@media (min-width:960px)  {
    .header {
        grid-template-columns: 50% 0% 50%
    }

    .leftContainer {
        padding-left: 1em;
    }

    .redirect {
        padding-right: 1em;
    }

    .themeButton {
        padding-right: 2em;
    }
}
  
@media (min-width:1281px) {
    .header {
        grid-template-columns: 50% 0 50%;
    }

    .leftContainer {
        padding-left: 2em;
    }

    .redirect {
        padding-right: 3em;
    }

    .themeButton {
        padding-right: 4em;
    }
}