.container {
    display: inline-block;
    text-align: center;
}

.header {
    padding-bottom: 1rem;
    font-family: var(--medium-font), serif;
    font-size: var(--regular-font-size);
}

.text {
    display: inline-block;
    text-align: left;
    font-family: var(--light-font), serif;
    font-size: var(--small-font-size);
    line-height: 2rem;
}