.container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    align-items: center;
}

.text {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: var(--light-font);
}

.centerContainer {
    display: grid;
    vertical-align: middle;
}

.headshot {
    margin: 16px auto 10px auto;
    max-height: 300px;
    width: auto;
    border-radius: 100%;
}


.click {
    color: inherit;
    text-decoration: none;
}

.click:hover {
    cursor: pointer;
}

.dark {
    border: 2px solid var(--minorwhite);
}

.light {
    border: 2px solid var(--charcoal);
}