.container {
    min-height: 100%;
    margin-top: 64px;
    display: flex; /* Using flexbox layout */
    flex-direction: column; /* Stack components vertically */
    align-items: center; /* Vertically center content */
  }
  